<div class="container">
  <div class="row main">
    <div>
      <button class="text-right pull-right" id="submit-quote">Submit a Quote</button>
      <div class="submit-form dontDisplay col-xs-12">
        <input type="text" id="new-quote" class="col-xs-8" name="quote" placeholder="Quote">
        <input type="text" id="author" class="col-xs-4" name="author" placeholder="Author">
        <div class="submit-box">
          <input type="password" id="password" class="col-xs-3 col-xs-offset-8" name="password" placeholder="Password">
          <button class="btn btn-primary col-xs-1" id="submit">Send</button>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 quote-box">
      <p id="quote">Qlick the Astro for a random Harry Quote.</p>
    </div>
    <div class="col-xs-12 astro main">
      <img id="astro" src="http://i.imgur.com/ICwYGPg.png">
    </div>
  </div>
</div>
<div>
  <img id="harrynaut" class="dontDisplay" src="http://i.imgur.com/K7SjDl2.png">
</div>